* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0px auto;
}

body,
html {
  height: 100%;
  background-color: #342d40;
}

.heading {
  width: 100%;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: inline;
}

li a {
  color: white;
  position: relative;
  top: 12px;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

li a :hover {
  background-color: gray;
}

h1,
h2 {
  display: grid;
  position: absolute;
  left: 16px;
  color: rgb(232, 232, 232);
}

h1 {
  font-size: 40px;
  top: 80px;
}

h2 {
  font-size: 30px;
  left: 30px;
  top: 140px;
}

.horizontal {
  font-weight: bolder;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  height: 3rem;
  background-image: linear-gradient(
    rgba(73, 13, 122, 0.919),
    rgba(186, 184, 184, 0.556)
  );
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/cover-image.jpg");
  top: -20px;
  height: 105%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

label {
  padding: 5% 10%;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  display: none;
  position: relative;
  top: 300px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
  width: 50%;
  height: 450px;
}

#cancel-button {
  position: relative;
  text-align: right;
}
